* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue; */
}
.container-logo strong {
    font-size: 30px;
}


main {
    padding: 16px 32px ;
    background-color: #c5a0a0;
}

section {
    padding-bottom: 15px;
<<<<<<< HEAD
    background-color: #8a8383;
    color: white;
    
=======
    background-color: #a69999;
>>>>>>> d26b0a49a051b7a82cc115523bfb7ac964176b07
}

/* estillizando o cabeçalho  +  Rodape do projeto */

.devs {
    border-bottom: 3px solid rgb(247, 111, 6);
    display: flex;
    justify-content: space-between;
    align-items: center; 

    padding: 16px 32px;
} 

/* MAIN */

#dev{
    border: 3px solid  #5f5151;
    border-radius: 15px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    

}

.avatar {
    width: 100px;
    height: 100px;
}
.descricao {
    padding-left: 15px ;
    align-items: center;
}